Load the dataset into python environment

In [30]:
import pandas as pd
import seaborn as sns
titanic_df = sns.load_dataset('titanic')
titanic_train = pd.read_csv('/content/titanic_dataset.csv')
titanic_df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

 Make ‘PassengerId’ as the index column

In [32]:
titanic_train.set_index('PassengerId', inplace=True)
titanic_train.head(10)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

. Check the basic details of the dataset

In [ ]:
titanic_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
titanic_train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [ ]:
titanic_train.nunique()

PassengerId    891
Survived         2
Pclass           3
Name           891
Sex              2
Age             88
SibSp            7
Parch            7
Ticket         681
Fare           248
Cabin          147
Embarked         3
dtype: int64

Fill in all the missing values present in all the columns in the dataset

In [28]:
for col in titanic_train.select_dtypes(include=['int64', 'float64']).columns:
    titanic_train[col].fillna(titanic_train[col].mean(), inplace=True)
    print(titanic_train.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0    1.0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0    1.0
2                             Heikkinen, Miss. Laina  female  26.0    0.0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0    1.0
4                           Allen, Mr. William Henry    male  35.0    0.0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500    G6        S
1      0          PC 17599  65.6344   C85        C
2      0  STON/O2. 3101282   7.9250   C85        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500  C123        S
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0    1.0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0    1.0
2                             Heikkinen, Miss. Laina  female  26.0    0.0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0    1.0
4                           Allen, Mr. William Henry    male  35.0    0.0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500    G6        S
1      0          PC 17599  65.6344   C85        C
2      0  STON/O2. 3101282   7.9250   C85        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500  C123        S
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0    1.0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0    1.0
2                             Heikkinen, Miss. Laina  female  26.0    0.0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0    1.0
4                           Allen, Mr. William Henry    male  35.0    0.0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500    G6        S
1      0          PC 17599  65.6344   C85        C
2      0  STON/O2. 3101282   7.9250   C85        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500  C123        S
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0    1.0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0    1.0
2                             Heikkinen, Miss. Laina  female  26.0    0.0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0    1.0
4                           Allen, Mr. William Henry    male  35.0    0.0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500    G6        S
1      0          PC 17599  65.6344   C85        C
2      0  STON/O2. 3101282   7.9250   C85        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500  C123        S
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0    1.0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0    1.0
2                             Heikkinen, Miss. Laina  female  26.0    0.0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0    1.0
4                           Allen, Mr. William Henry    male  35.0    0.0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500    G6        S
1      0          PC 17599  65.6344   C85        C
2      0  STON/O2. 3101282   7.9250   C85        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500  C123        S
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0    1.0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0    1.0
2                             Heikkinen, Miss. Laina  female  26.0    0.0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0    1.0
4                           Allen, Mr. William Henry    male  35.0    0.0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500    G6        S
1      0          PC 17599  65.6344   C85        C
2      0  STON/O2. 3101282   7.9250   C85        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500  C123        S
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0    1.0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0    1.0
2                             Heikkinen, Miss. Laina  female  26.0    0.0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0    1.0
4                           Allen, Mr. William Henry    male  35.0    0.0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500    G6        S
1      0          PC 17599  65.6344   C85        C
2      0  STON/O2. 3101282   7.9250   C85        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500  C123        S

In [29]:
# Example for categorical columns
for col in titanic_train.select_dtypes(include=['object']).columns:
   titanic_train[col].fillna(titanic_train[col].mode()[0], inplace=True)
print(titanic_train.columns)

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

5. Check and handle outliers in at least 3 columns in the dataset

In [33]:
from scipy import stats

# Assuming 'Age', 'Fare', and 'SibSp' are the columns to check for outliers
columns_to_check = ['Age', 'Fare', 'SibSp']

for col in columns_to_check:
    z_scores = stats.zscore(titanic_train[col])
    abs_z_scores = np.abs(z_scores)
    filtered_entries = (abs_z_scores < 3)
    new_data = titanic_train[filtered_entries]
    print(f"{col}: {np.sum(~filtered_entries)} outliers removed.")

Age: 891 outliers removed.
Fare: 20 outliers removed.
SibSp: 30 outliers removed.

6. Do min max scaling on the feature set (Take ‘Survived’ as target)

In [25]:
from sklearn.preprocessing import MinMaxScaler

# Select only numerical columns
numerical_features = titanic_train.select_dtypes(include=['int64', 'float64'])

# Exclude 'Survived' from scaling
features = numerical_features.drop('Survived', axis=1)
target = titanic_train['Survived']

scaler = MinMaxScaler()
scaled_features = scaler.fit_transform(features)
scaled_titanic_train = pd.DataFrame(scaled_features, columns=features.columns)

# Combine scaled features with the target
scaled_titanic_train['Survived'] = target
print(scaled_titanic_train.head())

   PassengerId  Pclass       Age  SibSp  Parch      Fare  Survived
0     0.000000     1.0  0.334159    0.4    0.0  0.110460         0
1     0.001124     0.0  0.581914    0.4    0.0  1.000000         1
2     0.002247     1.0  0.396098    0.0    0.0  0.120745         1
3     0.003371     0.0  0.535460    0.4    0.0  0.809027         1
4     0.004494     1.0  0.535460    0.0    0.0  0.122649         0